<html>
    <head>
    </head>
    <body>
        <header th:fragment="kopf(titel, benutzer, doener)">
            <h1 th:text="*{titel}">Dönerverleih UdE</h1>
            <a th:href="@{/benutzer}" th:text="*{benutzer}"> Benutzer </a>
            <a th:href="@{/doener}" th:text="*{doener}"> Doener </a>

            <div class="languages">
                <a th:href="@{?sprache=de}"> DE </a>
                <a th:href="@{?sprache=en}"> EN </a>
                <a th:href="@{?sprache=nl}"> NL </a>
            </div>
        </header>
        <footer th:fragment="fuss">

        </footer>
    </body>
</html>