 header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #b6aaff;
    color: white;
    padding: 20px 20px;
}

header a, h1{
    font-size: 25px;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

header a:visited {
    color: white;
    text-decoration: none;
}

footer {
    background: #b6aaff;
    color: white;
    padding: 15px 15px;
    font-size: 16px;
    text-align: right;
    margin-top: 40px;
    position: fixed;
    bottom:0;
    width:100%;
}

footer p{
  margin-right: 5%;
}

.main-main{
  display: flex;
  flex-direction: column;
}

.info-box{
  background: #dcd6ff;
  padding: 15px 15px 15px 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  width: 80%;
  max-width: 900px;
  border-radius: 10px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.info-box span{
  font-weight: bold;
  text-align: left;
  padding-left: 5px;
}

#a2{
  background: #e8e4ff;
  padding: 18px;
  margin-top: 10px;
  border-radius: 10px;
}

 p {
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 10px;
    font-size: 18px;
  }

  .title {
    font-weight: bold;
    font-size: 20px;
  }

  .intro {
    display: flex;
    align-items: center;      /* Vertikal zentriert */
    justify-content: space-between;
    margin: auto;
    width: 80%;
    margin-top: 20px;
    gap: 30px;
  }

  .text {
    max-width: 50%;
  }

  .image img {
    max-height: 160px;
    width: auto;
  }

  .suche {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
    width: 100%;
  }

  .suche input {
    width: 50%;
    max-width: 500px;
    padding: 8px;
    font-size: 16px;
  }

  .main {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 3%;
  }

  table {
    width: 80%;
    margin-top: 20px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }

  th {
    background-color: #b6aaff;
    color: white;
    padding: 12px;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
  }

  td {
    padding: 10px 12px;
    border-bottom: 1px solid;
  }

  .login{
    flex-direction: column;
    margin: 5%;
  }

  .login input{
    width:80%;
    margin-bottom: 2%;
  }

  .login button{
    align-self: left;
    margin-left: 2%;
  }

  .login h1{
    color: black;
    align-content: left;
  }

  